@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <h1>Access Denied</h1>
    <div class="alert alert-danger">Bu sayfaya erişiminiz yoktur.. @ViewBag.message </div>


</div>





