@model PasswordChangeModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Password</h1>


<form asp-controller="User" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" asp-for="OldPassword" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" asp-for="NewPassword" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" asp-for="NewPasswordConfirm" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

