@model AdminPasswordResetModel
@{
    ViewData["Title"] = "ResetPasswordUser";
}

<h1>ResetPasswordUser</h1>

<form asp-controller="User" asp-action="ResetPasswordUser" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>