@model List<AppRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Role List</h1>

<a href="/Role/RoleAdd" class="btn btn-primary">Role Ekle</a>

@if (Model.Count() == 0)
{
    <div class="alert alert-danger">Role Bulunamadı..</div>
}
else
{
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Role Name</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="DeleteRole/@item.Id" class="btn btn-danger btn-sm">Delete</a></td>
                    <td><a href="EditRole/@item.Id" class="btn btn-info btn-sm">Edit</a></td>
                </tr>
            }

        </table>
    </div>
}


